body {
  background-color: #f6f7f1;
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #790f8b; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  margin-right: -10px;
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffc240;
  display: block;
  transition: 0.3s;
  font-family: 'Dongle', sans-serif;
  font-size: 200%;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #402424;
  /* text-shadow: 2px 2px #402424; */
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 250%;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 30px;
  cursor: pointer;
  background-color: #790f8b;
  color: #ffc240;
  padding: 15px 15px;
  border: none;
}

.openbtn:hover {
  color: #402424;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  margin-left: -10px;
  margin-top: -10px;
  padding: 8px;
  display: flex;
  width: 100%;
  /* height: 2%; */
  background-color: #790f8b;
  box-shadow: 0px 8px 10px #402424;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* index.html */
.title {
  color: #ffc240;
  background: #790f8b;
  padding: auto;
  margin-left: 30px;
  font-size: 125%;
  font-family: 'Dongle', sans-serif;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding-right: 5px;
}

.header {
  color: #790f8b;
  text-align: center;
  font-size: 500%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Dongle', sans-serif;
}

hr {
  color: #790f8b;
}

.lower {
  background: #ffc240;
  margin: -8px;
  padding: 20px;
  color: #402424;
  display: flex;
  justify-content: space-around;
  font-family: 'Dongle', sans-serif;
  font-size: 200%;
  box-shadow: 0px -6px 10px #402424;
}

.sub {
  padding-bottom: 38px;
  text-align: center;
}

/* .sub1 {
  padding-bottom: 38px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 250px;
  background-color: #ffc240;
  color: #790f8b;
  font-family: 'Dongle', sans-serif;
  font-size: 200%;
  line-height: 40px;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: -10px;
  margin-right: -8px;
} */

/* .sub2 {
  /* padding-bottom: 38px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 250px;
  background-color: #9c528b;
  color: #ffc240;
  font-family: 'Dongle', sans-serif;
  font-size: 200%;
  line-height: 50px;
  /* width: 100%;
  /* padding-top: 100px;
  /* padding-bottom: 100px;
  margin-left: -10px;
  margin-right: -8px;
} */

.button {
  padding: 10px;
  background-color: #790f8b;
  border: 4px solid #9c528b;
  color: #ffb140;
  text-decoration: none;
  font-family: 'Dongle', sans-serif;
  font-size: 75%;
}

.button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Style the links inside the sidenav */
#mySidenav a {
  position: fixed; /* Position them relative to the browser window */
  left: -120px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding-top: 10px; /* 10px padding */
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 10px;
  width: 160px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 130%; /* Increase font size */
  /* line-height: 15px; */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  height: 35px;
  vertical-align: middle;
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#art {
  top: 260px;
  background-color: crimson;
  color: #ffc240;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#fiction {
  top: 320px;
  background-color: cornflowerblue;
  color: #402424;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#nonfiction {
  top: 380px;
  background-color: maroon;
  color: #ffc240;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#poetry {
  top: 440px;
  background-color: rosybrown;
  color: #402424;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  vertical-align: middle;
}

#music {
  top: 500px;
  background-color: seagreen;
  color: #ffc240;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.symbol {
  width: 50px;
  padding-top: -5px;
}

.issuesHeader {
  color: #790f8b;
  text-align: center;
  font-size: 400%;
  font-family: 'Dongle', sans-serif;
}

.issues {
  margin-left: 23%;
  margin-top: 3px;
  /* margin-right: 10%; */
  width: 70%;
  border: 2px solid #402424;
  padding: 20px;
}

.rowThree {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.oneIssue {
  background-color: lightgray;
  box-shadow: 3px 3px 5px #402424;
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.issuePic, .memberPic{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.date {
  color: #402424;
  /* text-decoration: none; */
  text-align: center;
  font-size: 125%;
}

hr {
  border-top: 3px solid #790f8b;
}

.mission {
  font-family: 'Dongle', sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  color: #402424;
  font-size: 250%;
  text-align: center;
  padding-top: -20px;
  padding-bottom: 20px;
}

.teamLower {
  background: #ffc240;
  margin: -8px;
  padding: 20px;
  color: #402424;
  /* display: flex;
  justify-content: space-around; */
  font-family: 'Dongle', sans-serif;
  font-size: 200%;
  box-shadow: 0px -6px 10px #402424;
}

.meetTeam {
  text-align: center;
}

.team {
  display: flex;
  flex-direction: column;
}

.fourMembers {
  display: flex;
  justify-content: space-around;
}

.member {
  background-color: lightgray;
  box-shadow: 0 4px 8px 0 #402424, 0 6px 20px 0 #402424;
  width: 250px;
  height: 320px;
  display: flex;
  flex-direction: column;
}

.memberName {
  color: #402424;
  text-align: center;
  /* padding-bottom: 10px; */
  font-size: 120%;
}

iframe {
  margin-left: 25%;
  margin-right: 25%;
}
